#!name =  iRingo: 📰 News
#!desc = 1.自定义解锁News的地区\n2.Coming Soon…\n注：该模块不包含代理规则组，代理规则组需要匹配代理策略组为🇺🇸🇬🇧🇨🇦🇦🇺线路，使用过程中gateway.icloud.com应该走与News相同的代理线路。
#!openUrl = http://boxjs.com/#/app/iRingo.News
#!author = VirgilClyne[https://github.com/VirgilClyne]
#!homepage = https://NSRingo.github.io/guide/apple-news
#!icon = https://developer.apple.com/assets/elements/icons/news/news-128x128.png
#!category =  iRingo
#!date = 2024-12-10 04:32:39
#!version = 3.2.1
# 🪞 Mirrored by https://github.com/bunizao/Mirrored · source: https://github.com/NSRingo/News

#[filter_local]
# > News
host, news-edge.apple.com, News
host, news-events.apple.com, News
host, apple.comscoreresearch.com, News
host, news-assets.apple.com, News

#[rewrite_local]
# 📰 News Configs
^https?:\/\/news(-todayconfig)?-edge\.apple\.com\/v1\/configs url script-request-body https://github.com/NSRingo/News/releases/download/v3.2.1/request.bundle.js
# 📰 News Event
^https?:\/\/news(-sports)?-events\.apple\.com\/analyticseventsv2\/async url script-request-body https://github.com/NSRingo/News/releases/download/v3.2.1/request.bundle.js
# 📰 News Search
^https?:\/\/news-client-search\.apple\.com\/v1\/search url script-request-header https://github.com/NSRingo/News/releases/download/v3.2.1/request.bundle.js

#[mitm]
hostname = news-edge.apple.com, news-todayconfig-edge.apple.com, news-events.apple.com, news-sports-events.apple.com, news-client.apple.com, news-client-search.apple.com
