<?xml version="1.0" encoding="utf-8"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.
RequestId:a655dfed-701e-006d-0b06-7c551e000000
Time:2025-02-10T21:55:45.9978112Z</Message><AuthenticationErrorDetail>Signature not valid in the specified time frame: Start [Mon, 10 Feb 2025 21:55:46 GMT] - Expiry [Mon, 10 Feb 2025 22:25:46 GMT] - Current [Mon, 10 Feb 2025 21:55:45 GMT]</AuthenticationErrorDetail></Error>