#!name =  iRingo: 🔍 Search
#!desc = iOS 17.6⬇️\n全面自定义「Siri 建议」功能。\n⚠️ 不含自定义「询问 Siri」功能。
#!openUrl = http://boxjs.com/#/app/iRingo.Spotlight
#!author = VirgilClyne[https://github.com/VirgilClyne]
#!homepage = https://NSRingo.github.io/guide/Siri/spotlight
#!icon = https://developer.apple.com/assets/elements/icons/spotlight/spotlight-128x128.png
#!category =  iRingo
#!date = 2024-12-24 04:25:10
#!version = 4.2.7
# 🪞 Mirrored by https://github.com/bunizao/Mirrored · source: https://github.com/NSRingo/Siri

#[rewrite_local]
# 🔍 Search Bag (iOS/macOS)
^https?:\/\/api2?\.smoot\.apple\.(com|cn)\/bag url script-request-header https://github.com/NSRingo/Siri/releases/download/v4.2.7/request.bundle.js
^https?:\/\/api2?\.smoot\.apple\.(com|cn)\/bag url script-response-body https://github.com/NSRingo/Siri/releases/download/v4.2.7/response.bundle.js
# 🔍 Siri Suggestions & Look Up Search (iOS/macOS)
^https?:\/\/api(2|-.+)\.smoot\.apple\.com\/search url script-request-header https://github.com/NSRingo/Siri/releases/download/v4.2.7/request.bundle.js
# 🔍 Search Infomation Card (macOS)
^https?:\/\/api(2|-.+)\.smoot\.apple\.com\/card url script-request-header https://github.com/NSRingo/Siri/releases/download/v4.2.7/request.bundle.js
# 🔍 Search Flight Search (iOS/macOS)
^https?:\/\/api(2|-.+)\.smoot\.apple\.com\/flight url script-request-header https://github.com/NSRingo/Siri/releases/download/v4.2.7/request.bundle.js

#[mitm]
hostname = api*.smoot.apple.com, api.smoot.apple.cn
