name: Extract and Download Links

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *' # 每30分钟运行一次

jobs:
  download-plugin:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Extract .plugin URL
      id: extract_url
      run: |
        echo "Downloading README.md from the remote repository..."
        curl -s -o README.md https://raw.githubusercontent.com/luestr/ProxyResource/refs/heads/main/README.md

        echo "Extracting .plugin URL from README.md..."
        PLUGIN_URL=$(grep -oP '(?<=\?plugin=)[^"]*\.plugin' README.md | head -n 1)

        if [ -z "$PLUGIN_URL" ]; then
          echo "Error: No .plugin URL found"
          exit 1
        fi

        echo "Found plugin URL: $PLUGIN_URL"
        echo "::set-output name=plugin_url::$PLUGIN_URL"

    - name: Download .plugin file
      run: |
        echo "Creating directory Loon if it doesn't exist..."
        mkdir -p Loon
        
        echo "Downloading the .plugin file from URL: ${{ steps.extract_url.outputs.plugin_url }}"
        curl -s -o Loon/plugin.plugin ${{ steps.extract_url.outputs.plugin_url }}

        echo "Download completed."

    - name: Commit changes
      run: |
        echo "Configuring Git user information..."
        git config --local user.name "github-actions[bot]"
        git config --local user.email "github-actions[bot]@users.noreply.github.com"

        echo "Checking for changes to commit..."
        git add Loon/plugin.plugin
        if git diff-index --quiet HEAD; then
          echo "No changes to commit"
        else
          echo "Committing changes to the repository..."
          git commit -m "Download updated .plugin file"
          git push
          echo "Changes have been pushed."
        fi
